Xft.dpi: 115
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11

 
*background:            #272827
*foreground:            #657b83
*fading:                15
*fadeColor:             black
*cursorColor:           #16A085
*pointerColorBackground:#2B2C2B
*pointerColorForeground:#16A085


URxvt.internalBorder: 6
! special
*.foreground:   #ABB2BF
*.background:   #21252B
*.cursorColor:  #ABB2BF

! black
*.color0:       #000000
*.color8:       #5C6370

! red
*.color1:       #E06C75
*.color9:       #E06C75

! green
*.color2:       #98C379
*.color10:      #98C379

! yellow
*.color3:       #D19A66
*.color11:      #D19A66

! blue
*.color4:       #61AFEF
*.color12:      #61AFEF

! magenta
*.color5:       #C678DD
*.color13:      #C678DD

! cyan
*.color6:       #56B6C2
*.color14:      #56B6C2

! white
*.color7:       #ABB2BF
*.color15:      #FFFEFE


Xcursor.theme: Breeze
Xcursor.size:  0

URxvt.font: xft:Fira Code:style=Regular:size=10:antialias=true:hinting=true
URxvt.geometry: 80x20
URxvt.depth: 32
URxvt.background:		[100]#21252B
URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
URxvt*.foreground: 		      #ABB2BF
URxvt*cursorColor:		      #ABB2BF
URxvt*saveLines:                      5000

URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard

URxvt.clipboard.autocopy: true
